body{
	font-family: Ubuntu;
	font-weight: lighter;
}

.navbar-default{
	background-color: #bc6b4d;
	color: #fff;
	height: 58px;
	line-height: 2px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand{
	color: #fff;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
	color: #d29985;
}

.navbar-default .navbar-nav>li>a{
	color: #fff;
}

.navbar-default .navbar-nav>li>a:hover{
	color: #d29985;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a{
	background-color: #d29985; 
	border-radius: 10px;
	border-width: 10px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	color: #fff;
	background-color: #d29985; 
}

.navbar, .navbar-default, .navbar-fixed-top{
	box-shadow: 0px 4px 5px rgba(0, 0, 2, 1);
}

.navbar-toggle{
	background-color: #fff;
	color: #d29985;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: #fff;
	color: #d29985;
}

.navbar-default .navbar-toggle .icon-bar{
	color: #d29985;
	background-color: #d29985;
}

.jumbotron{
	//background-color: #fff;
	color: #222;
	box-shadow: 0px 4px 7px #222;
	border-radius: 5px;
}

.myUnderline{
	border-bottom: 2px dashed #d29985;
	margin-bottom: 20px;
	font-size: 19px;
}

a{
	color: #d29985;
}

.mylink:hover{
	text-decoration: none;
	list-style: none;
	color: #bc6b4d;
}

.myspan{
	color: #d29985;
}

.profile-link {
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }

    .profile-link:hover {
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        color: grey;
    }

footer{
	background-color: #bc6b4d;
	color: #fff;
}