    body {
    background-color: darkgrey;
}

header {
    text-align: center;
}

h1 {
    font-size: 20px;
    color: black;
}

h2 {
    color: black;
}

img {
    margin: 30px 30px 30px 500px;
    border: 7px solid red;
    border-radius: 20px;
}

p {
    text-align: center;
    color: black;
}

ul {
    text-align: center;
    color: black;
}

li {
    display: inline-block;
    padding: 10px 10px 10px 10px;
}

.me {
    text-align: left;
}

.trust {
    text-align: right;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.container3 {
    background-color: white;
    padding: 20px;
    width: 450px;
    text-align: center;
    position: relative;
    margin: 64px auto;
    border-radius: 45px;
    max-width: 400px;
    width: 100%;