* {
    box-sizing: border-box;
}

body {
    background-color: #deecdf;
    text-align: center;
}

.col-md-1 {
    width: 50%;
	float: left;
	border: 1px white;
	padding-top: 20px;
	border-top: 50px;
    align: center;
}

.col-md-6 {
    width: 50%;
	float: right;
	border: 1px white;
	padding-top: 20px;
	border-top: 50px;
}

.col-md-3 {
    width: 100%;
    float: right;
}

.prof-section {
  text-align: center;
  padding: 4em 0;
}
.prof-grid h4 {
  font-size: 1.5em;
  margin: 0.9em 0;
  font-family: 'Nunito-Bold';
  color: black;
}
.prof-grid p {
  font-size: 1em;
  font-weight: 400;
  color: #9CA69D;
  line-height: 1.8em;
}

h1 {
    text-align: center;
    font-family: "Helvetica";
	color: #333;
} 

p {
    text-align: center;
    padding-right: auto;
    padding-left: auto;
}

img{
    border-radius: 100%;
}

.wrapper{
	background: white;
	max-width: 900px;
	margin: 0px auto;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
}

.namewrapper{
	background: #4b4b4b;
	color: white;
	border-radius: 4px;
	font-weight: lighter;
	padding: 10px 20px;
    font-family: "Bauhaus 93";
}

.biowrapper{
	background: #4b4b4b;
	color: white;
	border-radius: 4px;
	padding: 10px 20px;
    font-family: "MV Boli";
    font-style: bold;
}

.hiwrapper{
	background: #03a9f4;
	color: white;
	border-radius: 4px;
	padding: 10px 20px;
	font-family: "Bauhaus 93";
    font-size: 40px;
    text-shadow: 2px 2px black;
}

.button {
    background-color: #03a9f4;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-family: "Helvetica";
	color: white;
    margin: 4px 2px;
    cursor: pointer;
	overflow: hidden;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type=text] {
    width: 50%;
    padding: 13px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	outline: none;
}

input[type=text2] {
    width: 50%;
    padding: 13px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

input[type=message-box] {
    width: 50%;
	height: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	outline: none;
}

input[type=submit] {
    width: 200px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.contact-section {
    border-radius: 10px;
    background-color: #deecdf;
    padding: 30px;
}

/*input[type=text]:focus {
    border: 2px solid #555;
}