body {
   text-align:center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxghWIVzGPPPGGNzCb7U_F5RoNXBRKkVMy-TKF9tAd7fEs-NGf)
}
div {
    font-size: 26px;
    font-family: cursive sans-serif;
}
img {  
    border-radius: 6px;
    height: 60vh;
}
#link {
    background-color:black;
    color: white;
}
#mainprofile {
    margin-left:25vw;
    background-color: #cccccc;
    height:94vh;
    width:670px;
    text-align:center;
}