/*
CSS for My Web Profile
*/
body {
	width:90%;
	margin:auto;
	min-width:600px;
	max-width:2000px;
	font-family: cursive, Verdana, Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: white;
	background-color: #e6e6e6;
	padding: 50px;
	padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 250px;
    padding-right: 250px;
    background-size: cover;
}


.box-container {
  	width: 820px;
	background-color: grey;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.4);
	margin: auto;
	margin-top:10px;
}

.img-circle {
    border-radius: 10%;
    border-color: black;
}
table, th, td, tr {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
    background-color: #d6d6c2;
    color: black;
    font-style: cursive, Verdana;
    font-size: 14px;
	margin-bottom: 40px;
}
a{
      text-decoration: none;
      text-decoration-color: none;
}

form {
    margin:0 auto;
    width:459px;
}

input, textarea {
    width:439px;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

textarea {
    height:213px;
    background:url(images/textarea-bg.jpg) right no-repeat #efefef;
}

input[type=submit] {
    width:127px;
    height:38px;
    background:url(Images/submit.png) right repeat #efefef;
    text-indent:5px;
    border:50px;
    margin-top:20px;
    cursor:pointer;
}

    input[type=submit] {
        opacity:.8;
        background-color: #ff0000
    }
