/* NAVIGATION */
.mynavbar {
    background-color: black;
}

body {
    text-align: center;
    }

h2 {
    font-size: 20px;
    text-transform: inherit;
    font-weight: lighter;
    
}
.img-circle{
    border-radius: 50%;
}