h1 {color: DarkBlue; text-align: center;}
a:link, a:visited 
{
color: darkblue;
text-decoration:none;
}
 


text-align: center;


 a:hover, a:focus
{    color: red;
text-decoration:underline;
}

.leftImage 
{
float: left;
padding: 3px;
}

.rightImage
{
float: right;
padding: 3px;
}

.centreImage
{
float: centre;
padding: 3px;
}

body
{
margin:0px;
padding:0px;
text-align:center;
}

#container
{
width: 100%;
background: green;
margin: 0px auto;
text-align: center;
font-family: arial;
} 

#mainContent
{
align:center;
width: 1000px;
background: yellow;
text-align: left;
margin-left: 135px;
margin-right: 135px;
} 

#softWord
{
float: left;
width: 100%;
background: lightgray;
padding: 5px;
text-align: left;
}

IMG.centerContent
{
display:block;
margin-left:auto
margin-right:auto
}