body {
    margin: 0;
    padding: 10px;
    color: #494e52;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: 1.3em;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.middle, .img-left {
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px){
    .middle {   
     width: 70%;
     float: left;
   }
     .middle-margin {
      margin-left: 15%
   }
   .img-left {
     width: 20%;
     float: left;
   }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}


ul li {
  list-style: none;
}

.main {
  padding-top: 20px;
}

.social {
  text-align: center;
}

.social i{
  margin-right: 15px;
  margin-left: 15px;
}

.social a {
  color: #494E52;
}

.social a:hover {
  color: #5A87AA;
}

label {
    display:block;
    margin-top:20px;
}

input, textarea {
  width: 95%;
  height:27px;
  background:#efefef;
  border:1px solid #dedede;
  padding:10px;
  margin-top:1.5px;
  font-size:0.9em;
  color:#3a3a3a;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}

textarea {
  height:213px;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

#submit {
    width:127px;
    height:38px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

  #submit:hover {
      opacity:.9;
  }