*{margin: 0;	padding: 0;}

body{
	width: 100%;
	height: 100%;
	background: #326140;
	color: white;

}
.container{
	padding-bottom: 20px;
}

header{
	border-bottom: 1px solid yellow;
	position: relative;
	width: 100%;
	height: 50px;
	margin-top: 30px;
}
h3{
	color:white;
}
article{
	text-align:center;
	color:white;
	font-weight: 15px;
}

img{
	margin-top: 25px;
	border-radius: 40px;
	border: 1px solid yellow;
	height: 180px;
	
}



footer{
	right:0;
	bottom:0;
	left:0;
	position: absolute;
	border-top:1px solid yellow;
	height: 20px;
}
