body{
    background-color: #001b2a;
    /* padding: 50px 0;  */
    font-size: 15px;
    color: #333333;
    margin: 0;
    padding: 40px 0;
}
.panel{
    margin: auto;
    padding: 10px;
    width: 70%; 
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 1px 1px 0px #1a1a1a;
}
.panel .container{
    display: inline-flex; 
}
.panel .profile{
    padding: 10px;
    margin-top: 20px;
    width: 57%;
    border-right: 1px solid #e6e6e6;
}
.panel .profile .img{
    /* margin-top: 15px;
    width: 25%; 
    padding-right: 20px;  */
    margin:auto;
    height: 160px;
    width: 150px;
    background-image: url(https://raw.githubusercontent.com/MofopeOjosh/hngintern-1/master/mofopeojosh.jpg);
    border-radius: 4px;
    border: 3px solid #adc5d4;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
}
.panel .info{
    padding: 15px;
}
.panel .title{
    margin: 8px 0;
    color: #adc5d4;
}
.panel .button{
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 1px #000000;
    font-size: 15px;
    background-color: #001b2a;
    text-decoration: none;
    color: #adc5d4;
    opacity: 0.8;
    padding: 6px;
}
.panel .button:hover{
    opacity: 0.7;
}
.panel .contact-form{
    padding-top: 10px;
    display: block;
    width: 43%; 
}
.panel .contact-form form{
    margin: auto;
    width: 80%;
}
.panel .contact-form form .socials{
    font-size: 40px;
    list-style-type: none; 
    display: inline-flex;
}
.panel .contact-form form .socials .fa{
    color: #001b2a;
    padding-left: 20px;
    padding-right: 20px;
}
    .panel .contact-form .form-field{
    font-family: inherit;
    font-size: 12px;
    margin: auto;
    width: 100%; 
    border: none;
    border-radius: 2px;
    padding: 10px;   
    margin-bottom: 10px;
    background-color: #efefef;
}
@media (max-width: 900px){
    .panel{
        width: 90%;    
    }
    .panel .container{
        display: inline-block;
    }
    .panel .profile, .panel .contact-form{
        width: 90%;
        border: none;
    }
    .panel .contact-form form{
        width: 90%;
    }
} 
@media (max-width: 1200px){
    .hide{
        display: none;
    }
}