body {
  /* Old browsers */
  background: #141E30;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(-45deg, #35577D);
  margin: 40px;
  padding: 40px;
}

.profile {
  color: #FFF;
  font-size:15px;
  padding-top: 10px;
  position: relative;
  top: 5px;
  left: 400px;
  
  padding-left:100px;
}
.aboutme{
line-height: 1.3;
  height: 100px;
  width: 445px;
padding-top:5px;
padding-left:5px;
  border: dotted #85C1E9;
border-radius:5px;
 position: relative;
  top: 5px;
  left: 400px;
  

pdding-left:400px;
color:#ADD8E6;
 opacity: 0.75;
}





.github{
 
  text-align: ccenter;
}
.slack{
padding:28px

text-align: center;
}


.content {
  padding-left: 40px;
}



.writer-img {
border: 7px solid black;
border-radius:10px;
  
  width:228px;
margin:0 auto;
height:228px;
 background-color: DeepSkyBlue;
  position: relative;
  top: 20px;
  left: 450px;
  right:450px;

    
}
.details{
margin-bottom:40px;
position: relative;
  top: 20px;
  left: 400px;
 

}
