body {
  /* Old browsers */
  background: #141E30;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(-45deg, #35577D);
  margin: 10px;
  padding: 10px;
}

.profile {
  color: #FFF;
  font-size:15px;
  padding-top: 20px;
 
  padding-left:100px;
}
.aboutme{

pdding-left:400px;
color:#ADD8E6;
 opacity: 0.75;
}





.github{
 
  text-align: ccenter;
}
.slack{
padding:28px

text-align: center;
}


.content {
  padding-left: 40px;
}



.writer-img {
  
  width:228px;
height:228px;

    
}
.details{
padding-down:20px;
}
