<html>
<Head>
<Title> Olusola Victor </Title>
<style type="text/css">
h1 {
    color: green;
}
h2 {
    color: green;
}
body {
    background-color: pink;
}
    p {
    text-align: center;
    color: green;
}
div {
    background-color: lightgreen;
}
</style>
</Head>
</html>