body{
	background: #f7f7f7;
	font-family:  sans-serif;

}
.wrapper{
	background: white;
	max-width: 700px;
	margin: 0px auto;
	border-radius: 3px;
	padding: 20px;
	text-align: center;
}
.overlaywrapper{
	max-width: 580px;
	margin: 0px auto;
}
.softtext{
	color: #4b4b4b;
}
.input_text{
	width: 90%;
	padding: 15px 20px;
}
.submitbtn{
	padding: 12px 12px;
	cursor: pointer;
	background: #4b4b4b;
	color:whitesmoke;
	border: none;
}
.cancelbtn{
	padding: 12px 12px;
	cursor: pointer;
	background: #b92604;
	color:whitesmoke;
	border: none;
}
.msgbox{
	height: 150px
}
#overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: pointer;
}
.formwrapper{
	background: whitesmoke;
	max-width: 650px;
	padding: 15px;
	margin:0px auto;
	margin-top: 40px;
}
.profileimg{
	border-radius: 100%;
}
.namewrapper{
	background: #4b4b4b;
	color: white;
	border-radius: 4px;
	font-weight: lighter;
	padding: 10px 20px
}
.msgwrapper{
	background: #ccc;
	color: #4b4b4b;
	border-radius: 4px;
	font-weight: lighter;
	padding: 10px 10px;
	font-weight: bold;
	cursor: pointer;
	font-size: 14px;
	top: -1px;
	position: relative;
}
.logo{
	display: inline-block;
	position: relative;
	top: 10px;
}
.username{
	margin-left: 10px;
	border-bottom: 2px solid #ccc;
	padding-bottom: 5px;
	font-weight: lighter;
}
.biowrapper{
	border-radius: 3px;
	border: 2px solid #ccc;
	max-width: 90%;
	padding: 10px 20px;
	font-weight: 600;
	color: #4b4b4b;
	margin: 0px auto;
}
p{
	line-height: 1.7
}
.link{
	background: #03a9f4;
	padding: 8px 10px;
	color:whitesmoke;
}
.underline{
	border-bottom: 2px solid whitesmoke;
	text-decoration: none;
	color:inherit;
	padding-bottom: 2px
}
.link:hover{
	background: #4b4b4b;
}
.quote{
	background: #03a9f4;
	padding: 8px 10px;
	color:whitesmoke;
	line-height: 1.3;
	font-weight: lighter;
}