/* my css */
body {background-image:url('/home/ebam/hng/ebam_wall.jpg');}
#container {background-color: white;
text-align: center;
margin: 0 auto; width: 600px;}
/* #my_img {text-align: center;}
#details {text-align: center;} */
