body{
    background-color: #c4c4c4;
}
#img{
    float: left;
    height: auto;
    max-width: 100%;
}
#hey{
    width: 397px;
    height: auto;
    background-color: #ffffff;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    font-family: sans-serif;
    font-size: 20px;
    color: rgba(3, 101, 30, 0.83);
    text-align: center;
    
}
#pag{
    padding-top: 26px;
}
#pic{
    display: inline;
}


h3{
    align-self: center;
    
}

#subject{
    align-self: auto;
    width: 50%;
   
   
}
form{
    width: auto;
    height: auto;
    align-self: center;
    color: purple;
}
#message{
    width: 50%;
    font-family: sans-serif;
    align-self: auto;
   
}
textarea{
    width: 50%;
    align-self: auto;
    margin-left: 2px;
    margin-right: 17px;
    margin-bottom: 3px;
    font: 13.3333px Arial;

}

button{
    height: 30px;
    width: 100px;
    border-bottom: 3px solid gray;
    background: rgb(239, 4, 4);
    font-variant: all-small-caps;
    font-family: inherit; 
    font-size: 15px;
    color: rgba(255, 255, 255, 0.87);
}
input{
    margin-bottom: 5px;
    border-radius: 0.2%;
    text-transform: uppercase;
    width: 50%;
    align-self: auto;
}


