body
{
	background-color: #54ff9f;
}
img {
	width: 300px;
	height: auto;
	position: relative;
	left: 250px;
	top: 15%;
}
.left {
	float: left;
	background-color: #ffdab9;
	height: 100%;
	width: 50%;
}
.right {height: 100%;
	width: 50%;
	float: right;
	background-color: yellow;
}
h1 {
	text-align: center;
}
.slack {
	text-align: center;
}
.github {
	text-align: center;
}