/* CSS Document */

@font-face {
font-family:ds;
src: url("../font/DancingScript-Regular.ttf"); 
}
body{
	margin:0px;
	background-color: #009999;
}
.con{
	width:100%;
	height:690px;
	background-color: #009999;
	position: relative;
	z-index: 1;
	min-width: 1320px;
}
.con::after{
	width:100px;
	height:690px;
	background-color: #f9f9f9;
	position: absolute;
	content:"";
	z-index:-1;
	right:0;
	top:0;
}

.con .main{
	width:1320px;
	height: 600px;
	margin: 0 auto;
}
.con .main .lft{
	width:650px;
	height: 600px;
	float:left;
	position: relative;
	z-index: 2;
	background-color: #009999;
}
.con .main .lft .tp{
	width:650px;
	height: 200px;
	float:left;
	background-color: inherit;
	margin-top: 140px;
}
.con .main .lft .tp .pic{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-color: white;
	overflow: hidden;
	background-image: url("../img/10406867_775387362491921_753031628252739146_n.jpg");
	background-size: 150%;
	background-position: -98px -80px;
	background-repeat: no-repeat;
	border-radius: 100px;
	border: 3px solid white;
	box-shadow: 1px 2px 3px 1px rgba(53,53,53,.20);
	-webkit-box-shadow: 1px 2px 3px 1px rgba(53,53,53,.20);
}
.con .main .lft .bt{
	width:650px;
	height: 50px;
	float:left;
	margin-top: 45px;
}
.con .main .lft .bt span{
	width:auto;
	height: 50px;
	margin: 0 auto;
	display: block;
	line-height: 50px;
	text-align: center;
	font-family:"ds";
	font-size: 60px;
	font-weight:100;
	color:white;
	text-shadow:  1px 2px 3px rgba(53,53,53,.70);
	
}
.con .main .lft::after{
	width:650px;
	height: 600px;
	transform: skewX(15deg);
	transform-origin: top left;
	position: absolute;
	left: 0;
	right:0;
	bottom: 0;
	top:0;
	content:" ";
	z-index:-1;
	background-color: #009999;
	
}
.con .main .rgt{
	width:670px;
	height: 600px;
	background-color: #f9f9f9;
	float:left;
	position: relative;

}
.con .main .rgt .infoCon{
	width:510px;
	height: 550px;
	background-color:#f9f9f9;
	float:right;
	margin-top: 50px;

}
.con .main .rgt .infoCon h1{
	width: 510px;
	height: 30px;
	float: left;
	font-family: "Arial";
	color: #005C5C;
	font-weight: 100;
	border-bottom:1px solid #ccc;
	padding-bottom:10px;
}
.con .main .rgt .infoCon p{
	color:rgba(88,88,88,1.00);
	font-family:"Times New Roman", "serif";
	text-align: justify;
	font-size:21px;
}
.con .ft{
	width:100%;
	height: 90px;
	background-color: #009999;
	float:left;
	position: relative;
	z-index:30;

}
.con .ft .lCon{
	width:532px;
	height: 90px;
	float:right;

}
.con .ft .lCon .mainCon{
	width:532px;
	height: 40px;
	margin-top: 25px;
}
.con .ft .lCon .mainCon a{
	width:auto;
	height: 40px;
	text-align: center;
	line-height: 40px;
	float:left;
	margin-left:10px;
	text-decoration: none;
	border-left:1px solid white;
	color:white;
	padding-left:10px;
}
.con .ft .lCon .mainCon a:hover{

	text-decoration:underline;

}
.con .ft .lCon .mainCon a:first-of-type{
	margin-left:0px;
	border-left:0px solid white;
	padding-left:0px;
}
.con .main .rgt .infoCon table{
	width: 510px;
	height: 70px;
}
.con .main .rgt .infoCon table tr td:first-of-type{
	width: 130px;
	text-align: right;
	padding-left:0px;
	color:#009999;
	font-size: 16px;
	font-family: arial;
}
.con .main .rgt .infoCon table tr td{
	padding-left:5px;
	color: rgba(83,83,83,1.00);
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

