body{
    width:1280px;
    margin: 0px auto;
}
ul, li,a{
    list-style: none;
    text-decoration: none;
    display: inline;
    
}
li{
    margin-right: 10px;
    font-size: 32px;
}
li:hover{
    background-color: bisque;
}
#navig
{text-align: center;
margin-top:30px; 
width:540px;
margin: 5px auto;
border-bottom: solid red 3px;
}

.small-pics  {
    border-radius:100px;
    display:block; 
    width:160px; 
    height:120px;
}
.align-top{
position:relative;
top:-280px;
}

.hed{color:#41f4d3;
    width:540px;
    height:290px;
    margin: 0px auto;
    font-size: 20px;
}

.moveto{
    position:absolute;
    width: 200px;
    height: 300px;
    top:200px;
    margin-left: 10px;
}

.copy{
	position:fixed;
	bottom:-10px;
	left:540px;
    font-size: 16px;
}
input {
    margin:10px 10px 0px 0px;
}
input[type="submit"]{
      color:white;
      background:red;
	  font-size: 18px;
     margin:10px;}
.sidenav{
    position:absolute;
    right:0px;
    top:80px;
    text-align: center;
}