*{
	padding:0;
	margin:0;	
}
body {
	text-align:center;
	color:#333333;
}
header {
	background:#000000;
	color:#fff;
	height:80px;
}
a {
	color:#fff;
	text-decoration:none;
	
}
a:hover {
	color:#1c9963;
}
header div {
	width:50%;
	float:left;
}
nav {
	float:left;
	width:50%;
	margin:2% 0;
}
nav li{
	display:inline-block;
	width:20%;
	text-align:center;
}
nav li a {
	text-decoration:none;
	color:#fff;
	display:block;
}
nav li a:hover {
	color:#1c9963;
}
header h1 {
	margin:0% 5%;
}
.container {
	width:80%;
	margin:1% auto;
}
#myPhoto {
	width:46%;
	float:left;
	height:500px;
	background:#cccccc;
	border-radius:20%;
	padding:2%;
}
#myPhoto img {
	width:80%;
	height:100%;
	border-radius:50%;
}
.myProfile {
	float:left;
	width:50%;
}
.label,.dtl {
	width:94%;
	text-align:left;
	margin:2%;
	background:#efedee;
	padding:1%;
	border-radius:5px;
	height:25px;
}
.label {
	color:#1c9963;
	font-size:130%;
}
.clearfix {
	clear:both;
}
.about {
	background:#1c9963;
	color:#fff;
}
.about h2 {
	text-align:left;
	margin:1%;
	padding:0 2%;
	text-decoration:underline;
	text-transform:uppercase;
}
.about div {
	text-align:left;
	background:#1c9963;
}
.about div h3 {
	text-transform:uppercase;
}
.about div >div {
	margin:0 auto;
	width:70%;
}
.about  p {
	width:70%;
	margin:0 auto;
	font-size:110%;
}

.progress {
	padding-bottom:1%;
}
.progress >div {
	background:#fff;
	padding:.5% 4%;
	
}
.progress div >h3 {
	color:#1c9963;
}
progress {
	width:100%;	
}
.result a {
	color:#1c9963;
}
.result a:hover {
	color:#cccccc;
}
#contact .form{
	width:40%;
	margin:2%;
	text-align:left;
	border:2px solid #1c9963;
	border-radius:10px;
	float:left;
}
#contact .form h3 {
	background:#1c9963;
	color:#fff;
	height:50px;
	line-height:50px;
	text-transform:uppercase;
	text-align:center;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	margin-bottom:5%;
	
}
#contact input,#contact textarea {
	width:94%;
	border:1px solid #cccccc;
	padding:1%;
	border-radius:5px;
	margin:0% 2% ;

}
#contact label {
	width:100%;
	font-size:120%; 
	margin:2% 4%;
	height:50px;
	text-transform:uppercase;
}
#contact input {
	height:30px;
}
#contact input[type="submit"] {
	cursor:pointer;
	background:#1c9963;
	height:50px;
	color:#fff;
}
#contact textarea {
	height:200px;
}
.header {
	background:#000000;
	color:#fff;
	height:80px;
	line-height:80px;
}
#addr {
	width:40%;
	float:left;
	margin:2%;
	padding:2% 2% 4% 2%;
	font-size:120%;
	/*border:2px solid #1c9963;*/
	border-radius:5px;
}
.addr {
	width:96%;
	margin:1% 0%;
	display:inline-block;
	padding:2%;
	text-align:left;
}
.addr .addrtitle {
	width:60%;
	float:left;
	color:#1c9963;
	font-size:120%;
	font-weight:bold;
	text-transform:uppercase;
	line-height:30px;
	
}
.addr p {
	float:right;
	width:40%
}
.addr .btn {
	background:#1c9963;
	width:100%;
	padding:4% 2%;
	border-radius:5px;
	cursor:pointer;
	color:#fff;
	box-shadow:5px 8px 2px #000000;
}
.addr .btn:active {
	box-shadow:5px 5px 2px #000000;
	background:#1c9900;
}

.error {
	color:red;
	margin:0% 2%;
	height:20px;
}

footer {
	background:#000000;
	height:50px;
}

@media all and (max-width:768px){
	.container {
		width:100%;
	}
	header {
		height:150px;
	}
	header div {
		width:100%;
		float:left;
	}
	nav {
		width:96%;
		margin:2% 0;
	}
	#myPhoto {
		clear:both;
		width:98%;
		padding:1%;
		height:auto;
	}

	.myProfile{
		width:100%;
	}
	.label,.dtl {
		height:auto;
	}
	.about  p {
		width:96%;
		text-align:left;
		padding:2%;
	}
	#contact .form {
		width:92%;
		border:none;
	}
	#addr {
		width:96%;
		margin:0;
		border:0;
	}
	
}