html{
	margin:0;
	padding:0;
}
body{
	font-family:"Arial", serif;
	background-color:#efefef;
	padding:10px;
	margin:0px;
}
h1{
	font-size:20pt;
	color:#20bcd5;
	text-align:center;
	padding:18px 0 18px 0;
	margin:0 0 10px 0;
}
h1 span{
	border: 2px dashed #20bcd5;
	padding: 10px;
}
p{
	margin:0;
	padding:0;
}
.image-circle {
	border:3px solid white;
	border-radius:50%;
}
img{
	display: block;
	margin: auto;
}
.section{
	background-color: #fff;
	padding:15px;
	margin-bottom: 10px;
	border-radius: 10px;
	text-align: center;
}

}
form {
	text-align: center;
	margin-top:0;
}
.submit{
	background-color: #3fb6b2;
	padding:10px 45px;
	border-radius: 5px;
	cursor: pointer;
	color: #ffffff;
	border: none;
	outline: none;
	margin:0;
	font-weight:bold;
}
.submit:hover{
	background-color: #43a09d;
	
}
textarea{
	height:100px;
}
input, textarea{
	margin-bottom: 10px;
	font-size:12px;
	padding: 15px 10px 10px;
	border: 1px solid #cecece;
	background-color: #efefef;
	color: #787575;
	border-radius: 5px;
	width: 70%;
	outline: none;
}

}