* { outline: none;}
html[xmlns] .clearfix{
    display: block
}
* html .clearfix{
    height: 1%;
}

body{
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  font-weight:normal;
}

.wrapper{
  background: url('https://images8.alphacoders.com/559/thumb-1920-559128.jpg') top center no-repeat;
  display:block;
  text-align:center;
  width:100%;
  max-width:1440px;
  min-width:320px;
  margin:0 auto;
  overflow:hidden;
  min-height:836px;
}

.form-holder{
  background:#fff; /*Fallback for old browsers*/
  background: rgba(255,255,255,0.6);
  overflow:hidden;
  width:100%;
  min-width:320px;
  max-width:400px;
  display:block;
  margin:0 auto;
  min-height:836px;
  -moz-box-shadow: inset 0px 0px 50px #fff, 0px 0px 5px rgba(0,0,0,0.1);
-webkit-box-shadow: inset 0px 0px 50px #fff, 0px 0px 5px rgba(0,0,0,0.1);
box-shadow: inset 0px 0px 50px #fff, 0px 0px 5px rgba(0,0,0,0.7);
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: inherit;
    height: inherit
}

.clearfix{
    display: inline-block;
}

#info {
    float: left;
    margin-bottom: 12px;
}

span{
    box-sizing:inherit
}

h1{
    font-family: "Simonetta", "Trebuchet MS", Arial, sans-serif;
    color: darkslategrey;
    font-size: 3.6em;
    margin-bottom: 1px;
}

h3{
    font-family: "Trebuchet MS", Verdana, Arial, sans-serif; color: #777; font-weight: normal; font-size: 1.8em; margin-bottom: 10px;
}

small{
    font-family: "Balthazar", "Droid Serif", serif; color: #656565; font-size: 1.6em; display: block; margin-bottom: 6px;
}

#logo{
  margin-top:1px;
}

#BDV_title{
  margin-top:55px;
}

.form-holder p{
  font-size:13px;
  color:#666; /**/
  color:rgba(0,0,0,0);
  text-shadow:0px 1px 0px #fff;
  margin:25px 0;
  padding:0 50px;
  line-height:120%;
}

.contact-me-input {
width: 190px;
border: 1px solid #ccc;
margin: 8px auto;
border-radius: 4px;
font-size: 12px;
padding: 6px 0 6px 10px;
  display:block;
}

.contact-me-input:focus {
  -moz-box-shadow: 0px 0px 5px #f37e01;
-webkit-box-shadow: 0px 0px 5px #f37e01;
box-shadow: 0px 0px 5px #f37e01;
  border: 1px solid #f37e01;
  transition:all 0.2s linear;
    -webkit-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -ms-transition:all 0.2s linear;
    -kthtml-transition:all 0.2s linear;
}

.cta {
background: #f17f22;
background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…IwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2cxKSIgLz48L3N2Zz4=);
background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #ffc374), color-stop(2%, #fb9a27), color-stop(100%, #f17f22), color-stop(100%, #fb9a27));
background-image: -webkit-linear-gradient(top, #ffc374 0%, #fb9a27 2%, #f17f22 100%, #fb9a27 100%);
background-image: -moz-linear-gradient(top, #ffc374 0%, #fb9a27 2%, #f17f22 100%, #fb9a27 100%);
background-image: -ms-linear-gradient(top, #ffc374 0%, #fb9a27 2%, #f17f22 100%, #fb9a27 100%);
background-image: -o-linear-gradient(top, #ffc374 0%, #fb9a27 2%, #f17f22 100%, #fb9a27 100%);
background-image: linear-gradient(to bottom, #ffc374 0%, #fb9a27 2%, #f17f22 100%, #fb9a27 100%);
padding: 12px 20px;
display: block;
font-family: Arial, sans-serif;
font-weight: bold;
font-size: 14px;
text-transform: uppercase;
text-shadow: 0px 1px 0px #fcb75f;
color: #360000;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
margin:12px auto;
position: relative;
cursor: pointer;
width: 205px;
border: none;
}

.cta:hover{
	color:#fff;
text-shadow: 0px 1px 0px #360000;
}

.top{
  position:relative;
  z-index:2;
}

/* Style all font awesome icons */
.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none
}

/* Add a hover effect */
.fa:hover{
    opacity: 0.7;
}

/* specific colour for each brand*/
/* Facebook */
.fa-facebook{
    background: #3B5998;
    color: white
}

/* Twitter */
.fa-github{
    color: black;
}

/* Slack */
.fa-slack{
    color: black;
}
