.row {
    padding-left: 30%;
}

.media
    {
        /*box-shadow:0px 0px 4px -2px #000;*/
        margin: 20px 0;
        padding:30px;
    }
    .dp
    {
        border:10px solid red;
        transition: all 0.2s ease-in-out;
    }
    .dp:hover
    {
        border:2px solid red;
        transform:rotate(360deg);
        -ms-transform:rotate(360deg);  
        -webkit-transform:rotate(360deg);  
        /*-webkit-font-smoothing:antialiased;*/
    }
.media-heading {
	font-weight: 900;
    font-size: x-large;
    color: red;
    padding-left: inherit;
}

.user_slack {
    font-weight: 600;
    font-size:larger;
    color: red;
}
.bio {
    font-weight: 600;
    font-size: larger;
    color: red;
}
.user_slack .name {
    font-style: italic;
    font-size: xx-large;
    color: red;
}
.biodt {
    margin-right: 50%;
    font-size: small;
    text-align: justify;
}
.rule {
    width: 330px;
    position: absolute;
}