body{
    width:1340px;
    height: auto;
}
header{
    width:1340px;
    height:250px;
    background: #0f222f;
}
#profilepic{
    position: absolute;
    top: 150px;
    left: 500px;
    border: 2px solid black;
}
#name{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: #0f222f;
    position: absolute;
    top:400px;
    left:450px
}
#slackicon{
    position: absolute;
    top:500px;
    left:550px
}
#giticon{
    position: absolute;
    top:550px;
    left:550px
}
.otherNames{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: #0f222f;
    position: absolute;
    left: 600px;
}
a{
    text-decoration: none;
    background: #0f222f;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    color:#fff;
    padding: 10px 10px;
    position: absolute;
    top: 620px;
    left: 580px;
}
main{
    width:1340px;
    height: 550px;
}
#bio{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: #0f222f;
    position: absolute;
    top:660px;;
    left: 300px;
}
