*{margin: 0;	padding: 0;}

body{
	width: 100%;
	height: 100%;
	background: #326140;
	color: white;

}
.container{
	padding-bottom: 20px;
}

header{
	border-bottom: 1px solid yellow;
	position: relative;
	width: 100%;
	height: 50px;
	margin-top: 30px;
}


li{
	list-style-type: none;
	display: inline-block;
	list-style: none;
	margin-left: 5%;
	margin-right: 5%;
	letter-spacing: -0.05em;
	
	
}
ul{
	text-align: center;
	margin-top:20px;
	
}
a{
	text-decoration: none;
	color: white;
	font-size: 15px;
	font-weight: bold;
}
a:hover{
	font-weight: bold;
	text-decoration: none;
	background-color: white;
	color: #326140;
}
h3{
	color:white;
	text-align:center;
}

h2{text-align:center;}

article{
	text-align:center;
	color:white;
	font-weight: 15px;
}

img{
	margin-top: 25px;
	border-radius: 40px;
	border: 1px solid yellow;
	height: 180px;
	
}

form{
	margin-left: 35%;
	margin-right:30%;
	margin-bottom:10%;
	margin-top:5%;
	border: 3px solid white;
	box-shadow: 0px 0px 20px black;
	width: 30%;
	position:relative;
	text-align:center;

}
input[type=text]{margin:5%; width:80%; height:40px; border-radius:10px;}

input[type=textarea]{width= 80%; height:40px; border-radius:10px;}

footer{
	right:0;
	bottom:0;
	left:0;
	position:fixed;
	border-top:1px solid yellow;
	height: 20px;
	text-align:center;
}
