body{

}
div{ 
	border:#aaa;
	background: #cccccc;
	margin: 0 30px;
	background-color: #e6e6e6;
	
 }
.an{
 
}
.image{
	border-radius:135px;
	margin-left:500px;
	margin-top:20px
}
.an li{
color:light-grey;
	max-width:1000px;
    display: block;
    padding: 9px;
    border:1px solid #8d95a5;
    margin-bottom: 0px;
    border-radius: 30px;
}
p{
	color:blue;
	}
pre{	
	
	}
.de{
	max-width:100px;
	margin-left:520px;
	}
.de a{
	text-decoration:none;
}
.pr{
	
	 background: #2471FF;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #5994FF;
    border-radius: 3px;
    color: #D2E2FF;}
.pr:hover{
	background: #6B9FFF;
    color:#fff;
	}
	
	