body{

}
div{ 
	border:#aaa;
	background: #cccccc;
	margin: 0 30px;
	background-color: #e6e6e6;
	
 }
.an{
 margin: auto;
 
}
.mage{
	display:block;
	border:0px;
	margin:0px;
	}
.image{
	border-radius:135px;
	padding:0px;
	text-align:center;
	box-shadow:2px 2px 2px 2px rgb(80,80,80);
}
.image:hover{
box-shadow:0px 0px 0px ;

}
.an li{
color:light-grey;
	max-width:4000px;
    display: block;
    padding: 9px;
    border:1px solid #8d95a5;
    margin-bottom: 0px;
    border-radius: 30px;
	box-shadow:0px 0px 0px 0px rgb(80,80,80);
	}
.an li:hover{
	box-shadow:2px 2px 2px 2px rgb(80,80,80);
	}
p{
	text-shadow:1px;
	color:blue;
	}
.chan:hover{
	display:outline-block;
	color:green;
	}
.de{
	max-width:100px;
	margin-left:45%;
	}
.de a{
	text-decoration:none;
	}
.pr{
	
	 background: #2471FF;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #5994FF;
    border-radius: 3px;
    color: #D2E2FF;}
.pr:hover{
	background: #6B9FFF;
    color:#fff;
	}
	
	
	