body{
  margin-top:0;
}

div#headdiv{
  margin-left:200px;
  margin-bottom:20px;
  margin-right:10px;
  margin-top:50px;
}

div#tablediv{
  margin-top:0px;
  margin-bottom:20px;
  margin-left:100px;
  margin-right:100px;
}

footer#footerdiv{
  align-content:center;
}

p{
  margin-right:300px;
  margin-left:300px;
}

