.main_body {
	width: 50%;
	margin: auto;
}
h1 {
	text-align: center;
}
.profile_image {
	background-image: url(amco.jpeg);
	height: 400px;
	background-size: 100% auto;
}
ul {
	list-style: none;
	text-align: center;
}
li {
	display: inline-block;
	margin-right: 20px;
}