/*--
Author: SaintsWebnology
Author URL: http://saintswebnology.com
--*/
@font-face {
    font-family: 'Dosis';
    src:url(Dosis.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    src:url(Roboto.ttf) format('truetype');
}
@font-face {
    font-family: 'Quicksand';
    src:url(Quicksand.ttf) format('truetype');
}