<html>
<Head>
<Title> Akinokun Elizabeth Oluwafunmibi</Title>
<style type="text/css">
h1 {
    color: white;
}
h2 {
    color: white;
}
body {
    background-color: darkblue;
}
    p {
    text-align: center;
    color: white;
}
div {
    background-color: lightblue;
}
</style>
</Head>
</html>