body{
    width:auto;
    height:auto;
    text-align:center;
    font-family: 'Lato', cursive, Arial, Helvetica, sans-serif;
}
h3{
    color:#20bcd5;
    text-align:center;
    padding: 1% 0.5%;
    margin:auto;
    position: relative;

}
p span{
    font-weight: bolder;
}
.sumo{
    margin-top: 0px;
    padding: 0px 0px 0px;
}
img{
    position: relative;

}
ul li {
    list-style-type: none;
    display: inline;
}

li>a{
    margin-right: 25px;
}
.stage{
    text-decoration: none;
    border: 1px solid #20bcd5;
    background-color: #20bcd5;
    padding: 12px 55px 12px 55px;
    border-radius: 4px;
    margin-right: 12px;
    color: white;
    font-family: 'Lato','sans-serif';
    font-weight: bolder;

}
a>i.space{
    color: #00aeff;
}
a>i.space:link
{
    color: #00aeff; 
}
a>i.space:visited{
    color: green;
}

a>i.space:hover{
    color: grey;
}

button{
    background-color:#00aeff;
    color: white;
    font-family: 'Lato',serif; 
    font-weight: bolder;
    padding: 15px 80px;
    border:none;
    border-radius: 5px;
}

input[type=text], textarea{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:4px;
    box-sizing:border-box;
    margin-top:4px;
    margin-bottom:16px;
    resize:vertical;
}

input[type=submit]{
    background-color: #00aeff;
    color:white;
    padding: 10px 15px;
    border:none;
    border-radius:4px;
    cursor:pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    background-color:#00aeff ;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

