body{ text-align:center;background-color:#E6E6FA; color:black;}
#okon{ background-color:#E5FF77; border:2px green solid; position:absolute; width:45%;left:30%;}
header{background-color:green;width:"120px";}
