
body {
    margin: 0;
}
.col-btnSL {
  border-radius: 5px;
  background-color: #888888;
  color: white;
  width: 120px;
  height: 35px;
  text-align: center;
  position: relative;
  clear: left;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}
.col-btnL {
  border-radius: 5px;
  background-color: #888888;
  color: white;
  width: 150px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  position: relative;
  clear: left;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}
.col-btnL .icon{
  color: black;
}
.col-btnL .iconlink{
  color: white;
  text-decoration: none;
}
.col-btnL .iconlink:hover{
  color: #ccc;
  text-decoration: none;
}
.col-btnSR {
  border-radius: 5px;
  background-color: #888888;
  color: white;
  width: 120px;
  height: 35px;
  text-align: center;
  position: relative;
  clear: right;
  float: left;
  margin-left: 0px;
  margin-top: 5px;
}
.col-btnR {
  border-radius: 5px;
  background-color: #888888;
  color: white;
  width: 150px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  position: relative;
  clear: right;
  float: left;
  margin-left: 0px;
  margin-top: 5px;
}
.col-btnR .icon{
  color: black;
}
.col-btnR .iconlink{
  color: white;
  text-decoration: none;
}
.col-btnR .iconlink:hover{
  color: #ccc;
  text-decoration: none;
}
.container {
  background-color: white;
}
.footer {
  background-color: #fbfbfb;
  color: #555;
  text-align: center;
  font-size: 12px;
  padding: 15px;
  margin-top: 20px;

}
.wrapper {
  width: 80%;
  margin: 5px auto;
  clear: both;
  display: block;
}
.stage {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}
.img {
  display: block;
  margin: 0 auto;
  height: 250px;
  border: solid 0px #fff;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
  /*max-width: 100%;*/
}
.input {
  width: 90%;
  min-height: 25px;
  font-family: 'Montserrat', sans-serif;
  margin: 7px;
  border-radius: 5px;
  border: solid 1px #ccc;
  padding: 5px;
}
.topbar {
  width: auto;
  background-color: #fbfbfb;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -35px;
  margin-bottom: 15px;
  height: 80px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.6);
}
.topbarTitle {
  width: inherit;
	font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  color: #555555;
  text-align: center;
  padding-top: 15px;
  font-weight: bold;
}
.name {
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Montserrat';*/
  font-size: 60px;
  color: #555555;
  width: auto;
}
.biography {
  display: block;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  color: #555555;
  line-height: 25px;
  text-align: justify;
}
.info {
  font-family: 'Montserrat', sans-serif;;
  font-size: 15px;
  color: #555555;
  text-align: left;
  padding-left: 10px;
}
.indent {
  padding-left: 5px;
}
.col-2 {
  position: relative;
  clear: right;
  float: right;
  width: 66%;
}
.col-1 {
  position: relative;
  clear: left;
  float: left;
  width: 32%;
}
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}
