*{
    box-sizing: border-box;
}
body,html{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: #e0e0e0;
    display: flex;
    color: #37474F;
}

a{
    color:#4FC3F7;
    text-decoration: none;
}
a:visited{
    color:#00838F;
}
a:hover{
    text-decoration: underline;
    cursor: pointer;
}
ul{
    list-style: none;
    padding: 0;
}
.container{
    height: 80vh;
    display: flex;
    align-self: center;
    width: 100vw;
}

.container> .profile,.content{
    margin:10px;
    background: #ffffff;
    border-radius: 3px;
    border: 1px  solid rgba(0, 0, 0, 0.2);
    overflow: hidden;
}


.container .profile{
    width: 30%;
}

.content{
    width: 60%;
    height: 100%;
    padding: 20px;
}
.content h2{
    color: chocolate;
}

.profile{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile .profile--profile-pic{
    height:80%;
    padding: 20px;
    overflow: hidden;
    justify-content: center;
    display: flex;
    width: 100%;
    background: #EEEEEE;
}

.profile .profile--profile-pic img{
    width: 100%;
    border-radius: 5px;
    height: 100%;
    max-width: 294px;
}
.profile .profile--info{
    width: 100%;
    padding: 10px;
}
.content .content--about{
    font-size: 16px;
}

.profile--info{
    padding: 2px;
}
.profile--info .profile--name{
    font-size: 18px;
}
.profile--info ul> li{
    display: inline-block;
    
}

@media (max-width:600px){
    .container{
        flex-direction: column;
    }
    .container .profile{
        width: 100%;
        margin: 0;
        height: auto;
    }
    
    .content{
        width: 100%;
        margin: 0;
        height: auto;
    }
    .profile .profile--profile-pic{
        padding: 10px;
    }
    .profile .profile--profile-pic img {
        width: 51%;
    }
}