body {
    background: #FFFFFF url("[http://i.imgur.com/yHaq1Da.jpg") repeat fixed left top;
	margin:0px;
	padding:0px;
	font-family: candara, verdana, tahoma;
	font-size:calc(1px + 0.8vw);
}
.container{
	width: 820px;
	background-color: #F8F9F9;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.4);
	margin: auto;
	margin-top:10px;
	margin-bottom:10px;

}
.content {
	padding-right: 20px;
	padding-left: 20px;
}
table, th, td {
    border: 0px solid #000000;
    border-collapse: collapse;
}
th, td {
    text-align: left;
	padding-bottom: 20px;
	padding-right: 5px;
  padding-left: 5px;
}
td.content {
	width: 20%;
	text-transform: italic;
}
form{
    border-radius: 15px;
    background-color: #000000;
    padding: 20px;
}
label.form-header {
	font: bold 15px candara, verdana, tahoma;color:#FFFFFF;;
}
input[type=text], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
}
textarea{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
	resize: none;
    overflow: auto;
}

input[type=submit] {
    width: 100%;
    background-color: #866861;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

::-webkit-input-placeholder {
	font-style:italic;
}
:-moz-placeholder { /* older Firefox*/
	font-style:italic;
}
::-moz-placeholder { /* Firefox 19+ */
	font-style:italic;
}
:-ms-input-placeholder {
	font-style:italic;
}

.center {
	text-align: center;
}
.headings{
    color: #1F618D;
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
}
p {
    font-family: verdana;
	margin-bottom: 40px;
}
.profile-img {
	display: block;
    margin: auto;
	padding: 20px;
    border-radius: 50%;
}
header,footer {
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	text-shadow: 2px 2px 5px #EBEDEF;
	line-height: 60px;
	background-color: #866861;
	width: 100%;
	height: 80px;
	margin:0px;
	padding:0px;
	clear: left;
}
footer{
	font-size: 12px;
	right:auto;
	height:30px;
	line-height:30px;
}
.clear {
	clear:both;
}
