.center {
	text-align: center;
	padding: 20px;
}

.detail_wrap {
	margin: 0px 100px 0px 100px;
}

img {
	border-radius: 50% ;
}

.link_margin {
	padding: 10px 50px 10px 50px;
}

.top_margin {
	margin-top: 20px;
}

.pad_form {
	border: 2px solid black;
}