/* Styles */

body {
  font-family: Georgia, Arial;
  margin: 0;
}

/* header */
header {
  height: 80px;
  background-color: #e2e2e2;
}

#siteTitle {
  margin-top: inherit;
  padding-top: 25px;
  padding-left: 50px;
  font-family: Tahoma, Arial;
}

/* page */
main {
  padding-left: 15%;
  padding-right: 15%;
}

img {
  width: 100%;
  height: auto;
}

img#dp {
  border-radius: 50%;
}

@media only screen 
  and (min-width: 1200px) {
    img#dp {
      width: 250px;
      height: 250px;
    }
}

.form-input {
  padding: 10px;
}

input[type="text"], textarea {
  border-radius: 3px;
  border: 1px solid #555;
  width: 100%;
}

input[type="text"] {
  height: 25px;
}

button, input[type="submit"] {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #555;
  cursor: pointer;
}

/* footer */
footer {
  font-family: Tahoma;
  padding-left: 25px;
  padding-right: 25px;
}

footer ul {
  text-align: right;
}

footer ul li {
  display: inline;
}