body{
    font-family: "Montserrat", "Helvetica neue", cursive;
    margin: 0;
}

p{
    font-size: 20px;
    text-align: center;
    margin: 20px;
}

header{
    background-color: #777;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

header img{
    margin-bottom: 20px;
    padding-top: 20px;
    display: block;
    margin: auto;
    border-radius: 50%;
}

hr{
   border-width: 1px;
   border-color: pink;
}

h2 {
   text-align: center;
   font-family: Verdana;
}

h4 {
   text-align: center;
   font-family: sans-serif;
}

.anchor {
   text-align: center;
}

a:hover {
    color: pink;
   text-decoration: none;
}

a:link {
   color: white;
   text-decoration: none;
}
